/* @import "tailwindcss"; */
:root{
    --css-skeletone-ui:linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
    --css-skeletone-ui-logo:linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
    /* --css-skeletone-ui:linear-gradient(90deg, silver 25%, rgba(0, 0, 0, 0.15) 37%, gray 63%); */
}
body{
    color: #212529;
    background-color: #f2f2f3;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: var(--font-family);
}
select{
    box-shadow: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-family);
    border-radius: 3px;
}
option{
    font-size: 14px;
    font-weight: 600;
}
#search{
    outline: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-family);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 6px 8px;
}
button#searchBtn{
    font-size: 14px;
    font-weight: 700;
    height: 26px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: .3;
}
/* caret thickness */
.input-wrapper {
    position: relative;
    display: inline-block;
    /* width: 100%; */
}
/* Fake caret */
.fake-caret {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 1.3em;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(12 152 157)), to(rgb(82 197 255)));
    animation: blink 1s step-end infinite;
    pointer-events: none;
    margin-top: 1px;
}
@keyframes blink {
    50% { opacity: 0; }
}
.nav-bg{
    /* --bg-dark-200: linear-gradient(45deg, #1e1e1ed9, #1e1e1ed9); */
    --bg-dark-200:linear-gradient(45deg, #3a3a3a1f, #99999929);
    background-image: var(--bg-dark-200);
}
.avtara {
    border-radius: 50%;
    box-shadow: 0 2px 20px #0001, 0 1px 6px #0001;
    animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out {
    100% {
        width: 100%;
    }
}
.header-menu-skeletone,.header-skeletone,.logo-skeletone-v100{
    position: relative;
    background-color: rgb(0,0,0,0.06);
}
.header-skeletone::before{
    content:"";
    position:absolute;
    box-sizing: border-box;
    justify-content: space-between;
    left: 0px;
    z-index: 2;
    margin-top: 0px;
    min-height: 30px;
    width: 130px;
    border-radius: 5px;
    background: var(--css-skeletone-ui);
    /* background: linear-gradient(90deg,#b3b3b3,#f9f9f9,#b3b3b3); */
    background-size: 400% 100%;
    animation-name: css-skeleton-v200;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.logo-skeletone-v100::before{
    content:"";
    position:absolute;
    box-sizing: border-box;
    justify-content: space-between;
    left: 0px;
    z-index: 2;
    margin-top: 0px;
    min-height: 30px;
    width: 120px;
    border-radius: 5px;
    /* background: var(--css-skeletone-ui-logo); */
    background: linear-gradient(90deg, #b3b3b3, #d7d5d5, #b3b3b3);
    background-size: 400% 100%;
    animation-name: css-skeleton-v200;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.header-menu-skeletone::before{
    content:"";
    position:absolute;
    box-sizing: border-box;
    justify-content: space-between;
    left: 8px;
    z-index: 2;
    margin-top: -7px;
    min-height: 16px;
    width: 70px;
    border-radius: 5px;
    background: var(--css-skeletone-ui);
    /* background: linear-gradient(90deg,#b3b3b3,#f9f9f9,#b3b3b3); */
    background-size: 400% 100%;
    animation-name: css-skeleton-v200;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes css-skeleton-v200{
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.display_none{
    display: none;
}

/* [Scroll-image Slider] */
.sub__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}
.sub-scroll-slider-container {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
}
.sub-scroll-slider-container img {
  width: 25vw;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0.5rem;
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-150vw); }
}
.sub__slider:hover .sub-scroll-slider-container {
  animation-play-state: paused;
}
li.line-height {
    line-height: 2;
    font-size: 17px;
    border-bottom: 2px solid dodgerblue;
    font-weight: 700;
}
footer.background {
    text-align: center;
    padding: 0;
    background: url('/images/footer-background-image.jpg') no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    box-sizing: border-box;
    position: relative;
    /* width: 100%; */
}
button.button-shadow{
    box-shadow: none !important;
}
.media_group{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    -ms-flex-item-align: center;
    transform-style: preserve-3d;
    animation: moving 5s linear infinite;
}
@keyframes moving{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}